@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Bir hata oluştu.</h1>
<p>İsteğiniz işlenirken beklenmeyen bir sorun meydana geldi.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>İstek Kimliği:</strong> <code>@Model.RequestId</code>
    </p>
}
